[submodule "gui"]
	path = gui
	url = git@github.com:capstone-hermes/hermes-gui.git
[submodule "web-scanner"]
	path = web-scanner
	url = git@github.com:capstone-hermes/web-scanner.git
[submodule "weak-website"]
	path = weak-website
	url = git@github.com:capstone-hermes/weak-website-fullstack.git
